.about{
    &-area{
        padding-top: 150px;
        padding-bottom: 30px;
        position: relative;
        z-index: 1;
        &::before{
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('../img/about-bg.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom center;
            z-index: -1;
        }
        .aboutleftshap{
            position: absolute;
            top:100px;
            left: 0;
            max-width: 320px;
            @include mmd{
                max-width: 250px;
                top: 30px;
            }
            @include sm{
                max-width: 200px;
            }
        }
        .aboutRleap{
            position: absolute;
            top:100px;
            right: 0;
            max-width: 450px;
            @include mmd{
                max-width: 300px;
                top: 40px;
            }
            @include sm{
                max-width: 250px;
            }
        }
    }
    &-content{
        position: relative;
        z-index: 1;
        padding-top: 150px;
        padding-bottom: 900px;
        @include mmd{
            padding-top: 0px;
            padding-bottom: 100px;
        }
        @include sm{
            padding-top: 0px;
            padding-bottom: 80px;
        }
        @include ssm{
            padding-bottom: 40px;
        }
        &::before{
            position: absolute;
            content: "";
            bottom: 0;
            left: 48px;
            width: 100%;
            height: 100%;
            background-image: url('../img/about-content-bg.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top center;
            z-index: -1;
            @include xl{
                background-size: contain
            }
            @include lg{
                background-size: contain
            }
            @include mmd{
                display: none
            }
        }
        h3{
            @include font-40;
            font-weight: 700;
            text-transform: capitalize;
            @include Quicksand;
            margin-bottom: 20px;
        }
        p{
            @include font-24;
            font-weight: 500;
            line-height: 160%;
            margin-bottom: 10px;
        }
        &-inner{
            max-width: 790px;
            margin-inline: auto;
            padding-top: 150px;
            @include lg{
                padding-top: 12%;
            }
            @include mmd{
                padding-top: 80px;
            }
        }
    }
}

@media (min-width:992px) and (max-width:1170px){
    .about-content-inner{
        padding-top: 10%;
        width: 60%;
    }
}